<FDesign>
	<Table InternalName="A782E438-86AB-4506-96F9-DAD461C48159">
		<Definition DisplayName="Module">
			<Columns>
				<A Description="Module" Units="mm" IsNumeric="1" />
			</Columns>
		</Definition>
		<Data>
			<Row><A>0.050</A></Row>
			<Row><A>0.055</A></Row>
			<Row><A>0.060</A></Row>
			<Row><A>0.070</A></Row>
			<Row><A>0.080</A></Row>
			<Row><A>0.090</A></Row>
			<Row><A>0.100</A></Row>
			<Row><A>0.110</A></Row>
			<Row><A>0.120</A></Row>
			<Row><A>0.140</A></Row>
			<Row><A>0.160</A></Row>
			<Row><A>0.180</A></Row>
			<Row><A>0.200</A></Row>
			<Row><A>0.220</A></Row>
			<Row><A>0.250</A></Row>
			<Row><A>0.280</A></Row>
			<Row><A>0.300</A></Row>
			<Row><A>0.350</A></Row>
			<Row><A>0.400</A></Row>
			<Row><A>0.450</A></Row>
			<Row><A>0.500</A></Row>
			<Row><A>0.550</A></Row>
			<Row><A>0.600</A></Row>
			<Row><A>0.650</A></Row>
			<Row><A>0.700</A></Row>
			<Row><A>0.750</A></Row>
			<Row><A>0.800</A></Row>
			<Row><A>0.850</A></Row>
			<Row><A>0.900</A></Row>
			<Row><A>0.950</A></Row>
			<Row><A>1.000</A></Row>
			<Row><A>1.125</A></Row>
			<Row><A>1.250</A></Row>
			<Row><A>1.375</A></Row>
			<Row><A>1.500</A></Row>
			<Row><A>1.750</A></Row>
			<Row><A>2.000</A></Row>
			<Row><A>2.250</A></Row>
			<Row><A>2.500</A></Row>
			<Row><A>2.750</A></Row>
			<Row><A>3.000</A></Row>
			<Row><A>3.500</A></Row>
			<Row><A>4.000</A></Row>
			<Row><A>4.500</A></Row>
			<Row><A>5.000</A></Row>
			<Row><A>5.500</A></Row>
			<Row><A>6.000</A></Row>
			<Row><A>7.000</A></Row>
			<Row><A>8.000</A></Row>
			<Row><A>9.000</A></Row>
			<Row><A>10.000</A></Row>
			<Row><A>11.000</A></Row>
			<Row><A>12.000</A></Row>
			<Row><A>14.000</A></Row>
			<Row><A>16.000</A></Row>
			<Row><A>18.000</A></Row>
			<Row><A>20.000</A></Row>
			<Row><A>22.000</A></Row>
			<Row><A>25.000</A></Row>
			<Row><A>28.000</A></Row>
			<Row><A>32.000</A></Row>
			<Row><A>36.000</A></Row>
			<Row><A>40.000</A></Row>
			<Row><A>45.000</A></Row>
			<Row><A>50.000</A></Row>
			<Row><A>55.000</A></Row>
			<Row><A>60.000</A></Row>
			<Row><A>70.000</A></Row>
			<Row><A>80.000</A></Row>
			<Row><A>90.000</A></Row>
			<Row><A>100.000</A></Row>
		</Data>
	</Table>
	<Table InternalName="80DA90D1-7295-49E1-A8A3-BE1ED156A35C">
		<Definition DisplayName="Diametral Pitch">
			<Columns>
				<A Description="Diametral Pitch" Units="ul/in" IsNumeric="1" />
			</Columns>
		</Definition>
		<Data>
			<Row><A>0.3142</A></Row>
			<Row><A>0.3307</A></Row>
			<Row><A>0.3491</A></Row>
			<Row><A>0.3696</A></Row>
			<Row><A>0.3927</A></Row>
			<Row><A>0.4189</A></Row>
			<Row><A>0.4488</A></Row>
			<Row><A>0.4833</A></Row>
			<Row><A>0.5236</A></Row>
			<Row><A>0.5712</A></Row>
			<Row><A>0.6283</A></Row>
			<Row><A>0.6981</A></Row>
			<Row><A>0.7854</A></Row>
			<Row><A>0.8976</A></Row>
			<Row><A>1.0000</A></Row>
			<Row><A>1.2500</A></Row>
			<Row><A>1.5000</A></Row>
			<Row><A>1.7500</A></Row>
			<Row><A>2.0000</A></Row>
			<Row><A>2.2500</A></Row>
			<Row><A>2.5000</A></Row>
			<Row><A>2.7500</A></Row>
			<Row><A>3.0000</A></Row>
			<Row><A>3.2500</A></Row>
			<Row><A>3.5000</A></Row>
			<Row><A>3.7500</A></Row>
			<Row><A>4.0000</A></Row>
			<Row><A>4.5000</A></Row>
			<Row><A>5.0000</A></Row>
			<Row><A>5.5000</A></Row>
			<Row><A>6.0000</A></Row>
			<Row><A>6.5000</A></Row>
			<Row><A>7.0000</A></Row>
			<Row><A>7.5000</A></Row>
			<Row><A>8.0000</A></Row>
			<Row><A>8.5000</A></Row>
			<Row><A>9.0000</A></Row>
			<Row><A>9.5000</A></Row>
			<Row><A>10.0000</A></Row>
			<Row><A>11.0000</A></Row>
			<Row><A>12.0000</A></Row>
			<Row><A>13.0000</A></Row>
			<Row><A>14.0000</A></Row>
			<Row><A>15.0000</A></Row>
			<Row><A>16.0000</A></Row>
			<Row><A>17.0000</A></Row>
			<Row><A>18.0000</A></Row>
			<Row><A>19.0000</A></Row>
			<Row><A>20.0000</A></Row>
			<Row><A>24.0000</A></Row>
			<Row><A>28.0000</A></Row>
			<Row><A>32.0000</A></Row>
			<Row><A>40.0000</A></Row>
			<Row><A>48.0000</A></Row>
			<Row><A>64.0000</A></Row>
			<Row><A>72.0000</A></Row>
			<Row><A>80.0000</A></Row>
			<Row><A>96.0000</A></Row>
			<Row><A>120.0000</A></Row>
			<Row><A>160.0000</A></Row>
			<Row><A>200.0000</A></Row>
		</Data>
	</Table>
</FDesign>