<launch>

<arg name="vehicle" default="iris"/>
<arg name="dyn_rec" default="true"/>
<arg name="sitl" default="true"/>

<group ns="$(arg vehicle)">

    <rosparam command="load" file="$(find interaction_controller)/config/sitl/sitl_params.yaml"/>
    <rosparam command="load" file="$(find interaction_controller)/config/uav_parameters/$(arg vehicle)_param.yaml"/>
    <node name="rqt_reconfig" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

    <!--     Controller -->
    <node name="mrav_controller" pkg="interaction_controller" type="mrav_controller" output="screen">
        <rosparam command="load" file="$(find interaction_controller)/config/controller/initial_gains_$(arg vehicle).yaml"/>
    </node>

    <!--- Trajectory planner -->
    <node name="trajectory_planner" pkg="m4e_mav_trajectory_planner" type="m4e_mav_trajectory_planner" output="screen">
    </node>

    <!--- Trajectory sampler -->
    <node name="trajectory_sampler" pkg="mav_trajectory_generation_ros" type="trajectory_sampler_node" output="screen">
        <remap from="path_segments_4D" to="unsampled_trajectory"/>
    </node>

    <!--     Gui -->
    <node name="m4e_gui_node" pkg="m4e_gui" type="m4e_gui_node.py" output="screen"/>

</group>

</launch>