<launch>

<node name="manipulator_controller" pkg="m4e_mani_impedance_control" type="manipulator_controller" output="screen">
    <rosparam command="load" file="$(find m4e_mani_impedance_control)/config/params.yaml"/>
</node>

<include file="$(find m4e_mani_description)/launch/m4e_mani_effort.launch"/>
<node name="socketcan_bridge" pkg="socketcan_bridge" type="socketcan_bridge_node" output="screen"/>

</launch>