<Resources>
  <string id="%1%" value="Belleville Spring - DIN"/>
  <string id="%2%" value="Name"/>
  <string id="%3%" value="Spring Designation"/>
  <string id="%4%" value="D"/>
  <string id="%5%" value="Outside Diameter"/>
  <string id="%6%" value="mm"/>
  <string id="%7%" value="Inside Diameter"/>
  <string id="%8%" value="d"/>
  <string id="%9%" value="Material Thickness"/>
  <string id="%10%" value="t"/>
  <string id="%11%" value="Unloaded Height"/>
  <string id="%12%" value="H"/>
</Resources>
