<FDesign>
	<Table InternalName="133EA286-27F8-4612-B338-3265464335BD">
		<Definition DisplayName="SpringWireDiameter(ANSI)">
			<Columns>
				<d Description="Spring Wire Diameter" Units="in" />
				<Sign Description="Special Handle" />
			</Columns>
		</Definition>
		<Data>
			<Row>
				<d>0.010</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.012</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.014</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.016</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.018</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.020</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.022</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.024</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.026</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.028</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.030</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.032</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.034</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.036</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.038</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.041</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.0475</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.054</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.0625</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.072</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.080</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.0915</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.0938</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.1055</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.1205</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.125</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.135</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.1483</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.1563</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.162</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.177</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.1875</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.192</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.207</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.2188</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.2253</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.2437</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.250</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.2625</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.2813</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.3065</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.3125</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.375</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.4375</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.5</d>
				<Sign>0</Sign>
			</Row>
		</Data>
	</Table>
</FDesign>