<FDesign>
	<Table InternalName="A0656AE2-126F-4553-A07B-2A3063D4F758">
		<Definition DisplayName="SpringWireDiameter(Metric)">
			<Columns>
				<d Description="Spring Wire Diameter" Units="mm" />
				<Sign Description="Special Handle" />
			</Columns>
		</Definition>
		<Data>
			<Row>
				<d>0.2</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.224</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.25</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.28</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.315</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.355</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.4</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.45</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.5</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.56</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.63</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.71</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.8</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>0.9</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>1</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>1.06</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>1.12</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>1.18</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>1.25</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>1.32</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>1.4</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>1.5</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>1.6</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>1.7</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>1.8</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>1.9</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>2</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>2.12</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>2.24</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>2.36</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>2.5</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>2.65</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>2.8</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>3</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>3.15</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>3.35</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>3.55</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>3.75</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>4</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>4.25</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>4.5</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>4.75</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>5</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>5.3</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>5.6</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>6</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>6.3</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>6.7</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>7.1</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>7.5</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>8</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>8.5</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>9</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>9.5</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>10</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>10.6</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>11.2</d>
				<Sign>0</Sign>
			</Row>
			<Row>
				<d>11.8</d>
				<Sign>1</Sign>
			</Row>
			<Row>
				<d>12.5</d>
				<Sign>0</Sign>
			</Row>
		</Data>
	</Table>
</FDesign>
