<FDesign>
	<Table InternalName="20585281-9A58-4D39-B1EF-442F585E9D7D">
		<Definition DisplayName="%1%">
			<Columns>
				<ID IsVisible="0" IsNumeric="0" EditableState="0" />
				<Material DisplayName="%1%" Description="%2%" Units="" IsVisible="1" IsNumeric="0" EditableState="1" />
				<E DisplayName="%10%" Description="%3%" Units="%4%" IsVisible="1" IsNumeric="1" IsRequired="1" EditableState="1" />
				<mi DisplayName="%11%" Description="%5%" Units="%12%" IsVisible="1" IsNumeric="1" IsRequired="1" EditableState="1" />
			</Columns>
		</Definition>
		<Data>
			<Row>
				<ID>9B0D613DF93D45B6BF768A9E5CA193F3</ID>
				<Material>%6%</Material>
				<E>210000</E>
				<mi>0.3</mi>
			</Row>
			<Row>
				<ID>41CEE42BD3794F3C88A58056A359A563</ID>
				<Material>%7%</Material>
				<E>210000</E>
				<mi>0.3</mi>
			</Row>
			<Row>
				<ID>83AA96F6E2C141E5AB468E3F7C6266FC</ID>
				<Material>%8%</Material>
				<E>215000</E>
				<mi>0.3</mi>
			</Row>
			<Row>
				<ID>98D8EFE8F6FA480E9D79E16F70CACD16</ID>
				<Material>%9%</Material>
				<E>10000</E>
				<mi>0.2</mi>
			</Row>
			<Row>
				<ID>B028BEE37631455D9A767DF6F7F7A9B7</ID>
				<Material>%13%</Material>
				<E>205000</E>
				<mi>0.31</mi>
			</Row>
			<Row>
				<ID>FED5E1C1EAC545D0AF43A362D7CD7C1F</ID>
				<Material>%14%</Material>
				<E>206000</E>
				<mi>0.32</mi>
			</Row>
			<Row>
				<ID>4B2C603DBDBD4765BC25083A0AC75C82</ID>
				<Material>%15%</Material>
				<E>191000</E>
				<mi>0.22</mi>
			</Row>
			<Row>
				<ID>FEC8B8ADC1734F2396259FBF5BEDD53F</ID>
				<Material>%16%</Material>
				<E>191000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>8E69ADEEE0DC47EEB99C10F37C56EB4B</ID>
				<Material>%17%</Material>
				<E>191000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>5868E9AE6FCE40DC9806D9E930279111</ID>
				<Material>%18%</Material>
				<E>204000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>5BFC828E383445C1ACBE1285746A59BA</ID>
				<Material>%19%</Material>
				<E>215000</E>
				<mi>0.28</mi>
			</Row>
			<Row>
				<ID>50DFD459EF6C495F8B259884E8C8CDEC</ID>
				<Material>%20%</Material>
				<E>215000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>CBF2C188D7B1451694C54D3BDCF10FA8</ID>
				<Material>%21%</Material>
				<E>196000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>EA301EDABA534A6E80E113FC1A0A89D9</ID>
				<Material>%22%</Material>
				<E>196000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>0ADDC3C7A33C4075B1BAD543C91E90C1</ID>
				<Material>%23%</Material>
				<E>212000</E>
				<mi>0.29</mi>
			</Row>
			<Row>
				<ID>4C839809773F47FD9515CFF38BE85E04</ID>
				<Material>%24%</Material>
				<E>214000</E>
				<mi>0.29</mi>
			</Row>
			<Row>
				<ID>DC3310E5D0234A0A9BC72C4375D35FFC</ID>
				<Material>%25%</Material>
				<E>214000</E>
				<mi>0.29</mi>
			</Row>
			<Row>
				<ID>6C512C8DD82E4C17B6C3C97CAF901CCC</ID>
				<Material>%26%</Material>
				<E>200000</E>
				<mi>0.28</mi>
			</Row>
			<Row>
				<ID>14FC6E0A76F241C49BEE37B15FC4784F</ID>
				<Material>%27%</Material>
				<E>200000</E>
				<mi>0.28</mi>
			</Row>
			<Row>
				<ID>8BEEE2E2882B41CA920760F03E6D9C10</ID>
				<Material>%28%</Material>
				<E>200000</E>
				<mi>0.28</mi>
			</Row>
			<Row>
				<ID>C46C98D890D34829AFACD4663EAE9BB5</ID>
				<Material>%29%</Material>
				<E>212000</E>
				<mi>0.29</mi>
			</Row>
			<Row>
				<ID>5848CBE5461947B4A92AB38C2BE45DE0</ID>
				<Material>%30%</Material>
				<E>218000</E>
				<mi>0.28</mi>
			</Row>
			<Row>
				<ID>6196E1988DD24A2B83485B1927B07C13</ID>
				<Material>%31%</Material>
				<E>218000</E>
				<mi>0.28</mi>
			</Row>
			<Row>
				<ID>F70A91A984454606ABE2337E70231A33</ID>
				<Material>%32%</Material>
				<E>196000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>63F048E9CC1B4E0FAA909A395B4BD571</ID>
				<Material>%33%</Material>
				<E>196000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>481C0D71B48C4160BCEB00F0FEAA07E9</ID>
				<Material>%34%</Material>
				<E>191000</E>
				<mi>0.22</mi>
			</Row>
			<Row>
				<ID>8911CC5B7B534D679B82A43F5B297EDA</ID>
				<Material>%35%</Material>
				<E>211000</E>
				<mi>0.29</mi>
			</Row>
			<Row>
				<ID>8357C82DC6994432B9B1D5959482E979</ID>
				<Material>%36%</Material>
				<E>210000</E>
				<mi>0.3</mi>
			</Row>
		</Data>
	</Table>
</FDesign>