<FDesign>
	<Table InternalName="A807A2E1-58E6-4A9B-830E-32EACCC861F4">
		<Definition DisplayName="%1%">
			<Columns>
				<ID IsVisible="0" IsNumeric="0" EditableState="0" />
				<Material DisplayName="%1%" Description="%2%" Units="" IsVisible="1" IsNumeric="0" EditableState="1" />
				<E DisplayName="%10%" Description="%3%" Units="%4%" IsVisible="1" IsNumeric="1" IsRequired="1" EditableState="1" />
				<mi DisplayName="%11%" Description="%5%" Units="%12%" IsVisible="1" IsNumeric="1" IsRequired="1" EditableState="1" />
			</Columns>
		</Definition>
		<Data>
			<Row>
				<ID>4289CDB3BBB847E8ABA256FF507E7F94</ID>
				<Material>%6%</Material>
				<E>30000000</E>
				<mi>0.3</mi>
			</Row>
			<Row>
				<ID>75405087C87B439693ACB67468F55C38</ID>
				<Material>%7%</Material>
				<E>30000000</E>
				<mi>0.3</mi>
			</Row>
			<Row>
				<ID>9E73B797BFA841ED92E59CB67582C46C</ID>
				<Material>%8%</Material>
				<E>31000000</E>
				<mi>0.3</mi>
			</Row>
			<Row>
				<ID>BBA1EE7ABDC8403D8A60C3F382F19999</ID>
				<Material>%9%</Material>
				<E>15000000</E>
				<mi>0.2</mi>
			</Row>
			<Row>
				<ID>CD110453B9C54D7AB6051E018E62483C</ID>
				<Material>%13%</Material>
				<E>29725000</E>
				<mi>0.31</mi>
			</Row>
			<Row>
				<ID>A650D8C9DC7948219091F8B420C3CDFA</ID>
				<Material>%14%</Material>
				<E>29870000</E>
				<mi>0.32</mi>
			</Row>
			<Row>
				<ID>2BC991E6C875444586C6B3298F657190</ID>
				<Material>%15%</Material>
				<E>27695000</E>
				<mi>0.22</mi>
			</Row>
			<Row>
				<ID>0B5F4BCF54844754B5D60A787055C0F6</ID>
				<Material>%16%</Material>
				<E>27695000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>56B0AB9C6F1A479988E9414980AA2FCF</ID>
				<Material>%17%</Material>
				<E>27695000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>14C9D277C2BB4720A1800F288CDF13EA</ID>
				<Material>%18%</Material>
				<E>29580000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>AF9F2E5B46764DC78EFD517D9D6C2B64</ID>
				<Material>%19%</Material>
				<E>31175000</E>
				<mi>0.28</mi>
			</Row>
			<Row>
				<ID>5A350E38EA424CE686BAFDEF1C5184E6</ID>
				<Material>%20%</Material>
				<E>31175000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>AF9389788F7B4508B52B29C5980512B5</ID>
				<Material>%21%</Material>
				<E>28420000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>B5639AEB2AEF4A58A1ADBBF108BD50BE</ID>
				<Material>%22%</Material>
				<E>28420000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>B86939A7438A4BEBBB3B9A65A8418190</ID>
				<Material>%23%</Material>
				<E>30740000</E>
				<mi>0.29</mi>
			</Row>
			<Row>
				<ID>3C2F7A6D34A947A1BA472965D21DD224</ID>
				<Material>%24%</Material>
				<E>31030000</E>
				<mi>0.29</mi>
			</Row>
			<Row>
				<ID>FF636AD0FEBE401A9A2ADED29B272913</ID>
				<Material>%25%</Material>
				<E>31030000</E>
				<mi>0.29</mi>
			</Row>
			<Row>
				<ID>42E6FEDFEE04418897AF8C05988A1EBC</ID>
				<Material>%26%</Material>
				<E>29000000</E>
				<mi>0.28</mi>
			</Row>
			<Row>
				<ID>861AA403C82B4A38812639A761C1609D</ID>
				<Material>%27%</Material>
				<E>29000000</E>
				<mi>0.28</mi>
			</Row>
			<Row>
				<ID>3832F4A1F7A941B68A16E1D4C5E13159</ID>
				<Material>%28%</Material>
				<E>29000000</E>
				<mi>0.28</mi>
			</Row>
			<Row>
				<ID>E023865CAB644F8A8915E1CC895DF0FA</ID>
				<Material>%29%</Material>
				<E>30740000</E>
				<mi>0.29</mi>
			</Row>
			<Row>
				<ID>2D56420802D74A2A8209DCB721A6E333</ID>
				<Material>%30%</Material>
				<E>31610000</E>
				<mi>0.28</mi>
			</Row>
			<Row>
				<ID>1ABEFDD023974E728A9DEF41E45D50C7</ID>
				<Material>%31%</Material>
				<E>31610000</E>
				<mi>0.28</mi>
			</Row>
			<Row>
				<ID>988F3A8E43F740268D033181FD8900D0</ID>
				<Material>%32%</Material>
				<E>28420000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>91DD162903B94602912BC71AA6BB9D13</ID>
				<Material>%33%</Material>
				<E>28420000</E>
				<mi>0.26</mi>
			</Row>
			<Row>
				<ID>92334DB31CB34888A66870170D0DE4BC</ID>
				<Material>%34%</Material>
				<E>27695000</E>
				<mi>0.22</mi>
			</Row>
			<Row>
				<ID>DC28536FF66640B9BD3541FF1737C822</ID>
				<Material>%35%</Material>
				<E>30595000</E>
				<mi>0.29</mi>
			</Row>
			<Row>
				<ID>12F5C54DFF2840FA9A1039D0FEC2C443</ID>
				<Material>%36%</Material>
				<E>30450000</E>
				<mi>0.3</mi>
			</Row>
		</Data>
	</Table>
</FDesign>